button {
  transition: all 0.2s ease-in-out;
  font: 18px Helvetica, Arial, sans-serif;
  border: none;
  background: #ed1c24;
  color: #fff;
  padding: 20px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 5px;

  &:hover {
    background: #64bc46;
    cursor: pointer;
  }
}
